*{
    font-family: monospace;
    font-size: 30px;
    background-color: rgb(243, 243, 243);
}

.card-grid{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: auto;
}

.card {
    align-content:center;
    border: 0px solid rgb(24, 24, 24);
    border-radius: 15px;
    margin: auto;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.card p {
    padding: 50px;
    text-align: center;
}

.card img {
    max-height: 100%;
}


.tittle {
    margin: auto;
    padding: auto;
    font-size: 50px;
    margin-bottom: 50px;
}

h3{
    font-size: 30px;
    margin: auto;
    padding: 5%;
    font-size: 40px;
    text-align: center;
    color: #17183B;
    

}

p{
    font-size: 30px;
    margin: auto;
    padding: 5%;
    font-size: 40px;
    text-align: center;
}

.tittle{
    background-color: #FF4F79;
    padding: 2%;
    margin: auto;
    text-align: left;
    color: #ffffff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

input
{
    text-align: center;
    width: 100%;
    font-size: 1.3rem;
    color: #181818;
    background-color: white;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* MediaQuery */

@media (max-width: 947px){
 .div card-grid{
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        width: 50%;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}
}

@media (max-width: 690px) {
    .div card-grid{
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        width: 30%;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
}
}
